/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05.11.2015, 10:47:48
    Author     : Pushkin
*/
html
{
    background-color: #ffffff;
}
body>.row
{
    width: 700px;
    margin-top: 15px;
    margin: auto;
}
#gameField
{
    width: 400px;
    height: 400px;
    margin: auto;
    /* border: 5px solid #337ab7; */
    margin-top: 20px;

}
.table-responsive
{
    margin-top: 20px;
}
.table-responsive tr
{
    margin: 2px;
}
#MsgDng
{
    position: fixed;
    top:40%;
    left: auto;
    right: auto;
    width: 100%;
    text-align: center;
    display: none;
    font-size: 40px;
    //background: rgba(200,0,0,0.7);
    /*/background: red;*/
}
#Msg
{
    position: fixed;
    top:40%;
    left: auto;
    right: auto;
    width: 100%;
    text-align: center;
    display: none;
    font-size: 40px;
    //background: rgba(200,0,0,0.7);
    /*/background: red;*/
}
