/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.10.2015, 15:31:07
    Author     : Pushkin
*/

#content
{
    //height: 100%;
     //background-color: black;
  text-align: center;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  min-height: 40px;
  line-height: 40px;
}

.new_Btn
{
    margin-top: 10px;
    margin-bottom: 15px;
    width:  100%;
    
    
}

#Contact
{
    height: 100%;
}
#Menu
{
    padding-left: 40px;
}