/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.10.2015, 15:31:07
    Author     : Pushkin
*/

#content
{
    //height: 100%;
     //background-color: black;
  text-align: center;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  min-height: 40px;
  line-height: 40px;
}

.new_Btn
{
    margin-bottom: 15px;
    width:  100%;
}

#Contacts
{
    max-height:300px;
    overflow-y: auto;
}

#Menu
{
    padding-left: 40px;
}

#Slots
{
    text-align: center;
}

.top-buffer { 
    padding-top: 20px;
}

.bootstrapSwitch
{
    height: 20px;
    width: 208px
}
#MsgDng
{
    position: fixed;
    top:0;
    left: auto;
    right: auto;
    width: 100%;
    text-align: center;
    display: none;
    z-index:1050;
    //background: rgba(200,0,0,0.7);
    /*/background: red;*/
}

#Msg
{
    position: fixed;
    top:0;
    left: auto;
    right: auto;
    width: 100%;
    text-align: center;
    display: none;
    z-index:1050;
    //background: rgba(200,0,0,0.7);
    /*/background: red;*/
}

.modal-dialog
{
    width: 633px !important;
}

.toggle.btn-xs
{
    min-width: 100% !important;
}